.app{
  width: 640px;
  height: 640px;
  padding: 80px;
  
}
.board {
  width: 640px;
  height: 640px;
  display:flex;
  flex-wrap: wrap;
  border: solid 3px red;
}
.board img{
  width: 80px;
  height:80px;
    
}